doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ela's media
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Ela's media
          form.form-inline.float-xs-right(action="/search" method="POST")
            input.form-control(name="query" type='text', placeholder='Search')
            button.btn.btn-outline-success(type='submit') Search

  div.container-fluid
    h1 Search Results:

    if results
      each book in books
        .card.card-block
          h4(class="card-title")= book.title
          p(class="card-text")= 
    else
      h4 User is not found
